[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.22.2.post1"
opencv-python-headless = "*"
tensorflow-cpu = "==2.4.0"
streamlit-webrtc = "*"
av = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.8"
